.input-line {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  padding-bottom: 10px;

  input {
    width: 50px;
  }
}


.item {
  display: flex;
  align-items: center;
  .chance {
    font-size: 20px;
    min-width: 70px;
  }
  .turret-list {
    display: flex;
    .turret {
      max-width: 100px;
      padding-right: 10px;
    }
  }
}

